div.papertitle {
	letter-spacing: -0.05em;
	font-family: Georgia, "Times New Roman", Times, serif;
}
div.others {
	font-weight: bold;
	font-size: 110%;
	color: #333;
	letter-spacing: -0.05em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}
div.sessiontitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 140%;
	color: #333;
	letter-spacing: -0.05em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}
div.author {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
	margin-bottom: 1em;
	padding-top: 0em;
	padding-bottom: 0em;
	text-align: left;
}
table td.time {
	vertical-align: top;
	padding-left: 0em; 
	padding-right: 1em; 
	white-space: nowrap;
}
table.program {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
}
div.papertitle {
font-weight: bold;
}
div.author {
font-style: italic;
font-size: 14px;
}
